APP_NAME=AplikasiPegawai
APP_ENV=local
APP_KEY=base64:hoYX6KaaLA9ZGvVSSBpYfizcKWwN9KtJw9FfNTgljME=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=aplikasipegawai
DB_USERNAME=admin
DB_PASSWORD=root

SESSION_DRIVER=redis
CACHE_STORE=redis
REDIS_HOST=redis
REDIS_PORT=6379

FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"

TELEGRAM_BOT_TOKEN=